
<!--This is a simplescrollup-->
<div class="go-up">
     <a href="#hero" class="up"><img src="./assets/images/ico-arrow.svg" alt="Flecha ir hacia arriba"></a> 
</div>
<!--This the footer-->
<footer id="footer">
    <aside class="footer">
        <ul class="footer-menu-one">
             <li><a href="https://adalab.es" class="menu-one">ZAPATILLAS</a></li><br>
             <li><a href="https://adalab.es" class="menu-one">ROPA</a></li><br>
             <li><a href="https://adalab.es" class="menu-one">NIÑO/A</a></li><br>
             <li><a href="https://adalab.es" class="menu-one">DESTACADOS</a></li><br>
             <li><a href="https://adalab.es" class="menu-one">TIPS</a></li>
        </ul>
        <ul class="footer-menu-two">
             <li><a href="https://adalab.es" class="menu-two">TWITTER</a></li><br>
             <li><a href="https://adalab.es" class="menu-two">INSTAGRAM</a></li><br>
             <li><a href="https://adalab.es" class="menu-two">YOUTUBE</a></li>
        </ul>
        <ul class="footer-end">
             <li>© 2023</li><br>
             <li>WE❤️RUN </li>
        </ul>
    </aside>
</footer>
