
<!--This is a simplescrollup-->
<div class="go-up">
     <a href="#hero" class="up"><img title="Button-up" src="./assets/images/ico-arrow.svg" alt="Flecha ir hacia arriba"></a> 
</div>
<!--This the footer-->
<footer id="footer">
     <nav class="footer">
          <ul class="footer-menu-one">
               <li><a href="https://adalab.es" class="menu-one">Zapatillas</a></li>
               <li><a href="https://adalab.es" class="menu-one">Ropa</a></li>
               <li><a href="https://adalab.es" class="menu-one">Niño/a</a></li>
               <li><a href="https://adalab.es" class="menu-one">Destacados</a></li>
               <li><a href="https://adalab.es" class="menu-one">Tips</a></li>
          </ul>
          <ul class="footer-menu-two">
               <li><a href="https://adalab.es" class="menu-two">Twiter</a></li>
               <li><a href="https://adalab.es" class="menu-two">Instagram</a></li>
               <li><a href="https://adalab.es" class="menu-two">Youtube</a></li>
          </ul>
          <ul class="footer-end">
               <li>© 2023</li>
               <li>we❤️run </li>
          </ul>
     </nav>
</footer>
