
<!--This is a simplescrollup-->
<div class="go-up">
     <a href="" class="up"><img src="./assets/images/ico-arrow.svg" alt="Flecha ir hacia arriba"></a> 
</div>
<!--This the footer-->
<footer>
    <aside class="footer">
        <ul class="footer-menu-one">
             <li>ZAPATILLAS</li><br>
             <li>ROPA</li><br>
             <li>NIÑO/A</li><br>
             <li>DESTACADOS</li><br>
             <li>TIPS</li>
        </ul>
        <ul class="footer-menu-two">
             <li>TWITTER</li><br>
             <li>INSTAGRAM</li><br>
             <li>YOUTUBE</li>
        </ul>
        <ul class="footer-end">
             <li>© 2023</li><br>
             <li>WE❤️RUN </li>
        </ul>
    </aside>
</footer>
