<section class="hero">
    <h2 class="hero-title">HASTA UN 50% DE</h2> 
       <h2>DESCUENTO</h2>
    <h2 class="hero-title-two">YA ESTAN AQUI LAS OFERTAS DE FIN DE </h2>
       <h2>TEMPORADA</h2> 
    <a href="" class="button"><img src="./assets/images/ico-scroll-down.svg" alt="Flecha ir hacia abajo"></a>
</section>
<section class="box-one">
    <small class="small">
      Los sentimientos nos inspiran
    </small >
    <article class="article">
       <h2 class="article-title">Conecta Contigo</h2>
       <P class="article-p">
        Esta es una celebración de todo lo que nos mueve. Del poder de elegir y de libertad de ser. Rendimos homenaje  al hermoso caos del movimiento y a la plena consciencia que tan bien nos hace sentir.
       </P>
       <div class="box-one-button">
        <a href="https://adalab.es" class="button">Comprar</a>
        </div>
    </article>
      
</section>

<aside class="container">
     <h2 class="container-title">Año nuevo, movimientos nuevos
     </h2>
     <article class="container-p">
          <h3>Entrenamiento</h3>
          <p>Sesiones de running y entrenamientos.</p>
     </article>
     <article class="container-p">
          <h3>Cualquier nivel</h3>
          <p>Entrenamientos para cada nivel.</p>
     </article>
     <article class="container-p">
          <h3>Exclusividad</h3>
          <p>Productos para miembros premium.</p>
     </article>
     <div class="container-button">
     <a href="" class="button">Empezar ahora</a>
    </div>
</aside>