<section>
   <h1>HASTA UN 50% DE DESCUENTO</h1>
   <small>YA ESTAN AQUI LAS OFERTAS DE FIN DE TEMPORADA</small>
   <a href="" class="button"><img src="./image/ico-scroll-down." alt=""></a>
</section>
<section>
  <small>
    Los sentimientos nos inspiran
  </small>
  <h2>Conecta Contigo</h2>
  <P>Esta es una celebración de todo lo que nos mueve. Del poder de elegir y de libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hace sentir.</P>
    <a href="" class="button">Comprar</a>
</section>
<aside>
  <h2>Año nuevo, movimientos nuevos</h2>
  <article>
    <h3>Entrenamiento</h3>
    <p>Sesiones de running y entrenamientos.</p>
  </article>
  <article>
    <h3>Cualquier nivel</h3>
    <p>Entrenamientos para cada nivel.</p>
  </article>
  <article>
    <h3>Exclusividad</h3>
    <p>Productos para miembros premium.</p>
  </article>
  <a href="" class="button">Empezar ahora</a>
</aside>