:root {
  font-size: 62.5%;
  --orange: #f26002;
  --grey: #F2F2F2;
  --greyish-brown: #4a4a4a;
  --white: #ffffff;
  --font-family: 'Roboto', sans-serif; }

.code {
  font-size: 16px;
  background: #d8d8d8;
  padding: 0 5px;
  border-radius: 5px; }

.link__adalab:hover {
  background-color: #099d8d;
  color: #fff; }

.link__github:hover {
  background-color: #CCC;
  color: #000; }

.main__list {
  padding-left: 2rem;
  padding-bottom: 20px; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

.header {
  position: fixed;
  width: 37px;
  height: 34px;
  top: 0;
  z-index: 10;
  background-color: #ff6f00; }

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px; }

.menu-img {
  width: 13px;
  height: 11px; }

.go-up {
  position: relative;
  bottom: 3rem;
  left: 43%;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  z-index: 10; }

.up {
  background-color: var(--white);
  width: 45px;
  height: 45px;
  margin: 5px;
  padding: 10px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; }

.footer {
  height: 465px;
  background-color: var(--greyish-brown);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-direction: column;
  padding-left: 109px;
  padding-right: 109px;
  padding-top: 65px;
  padding-bottom: 36px; }
  .footer .footer-menu-one {
    color: var(--white);
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    height: 120px; }
  .footer .footer-menu-two {
    color: var(--white);
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    height: 60px; }
  .footer .footer-end {
    color: var(--white);
    list-style: none;
    font-size: 1.5rem;
    text-align: center; }

.hero {
  background-image: url("../images/cover.jpeg");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 528.8px;
  background-size: contain;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.hero-title {
  font-size: 2.5rem;
  text-align: center; }

.hero-title-two {
  padding: 34px;
  font-size: 1rem;
  text-align: center; }

.down {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  margin-top: 78px; }

.down-image {
  background-color: var(--white);
  width: 45px;
  height: 45px;
  margin: 5px;
  padding: 10px;
  border-radius: 50px;
  font-size: 11px;
  line-height: 32px;
  text-transform: uppercase;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center; }

.box-one {
  height: 376px;
  margin-top: 34px;
  margin-left: 20px;
  padding: 34px 12px 2px 13px;
  background-color: var(--white);
  align-items: flex-start; }
  .box-one .small {
    color: var(--orange);
    font-size: 1.4rem; }
  .box-one .article .article-title {
    font-size: 2.4rem;
    font-weight: bold;
    padding-top: 13px; }
  .box-one .article .article-p {
    font-size: 1.8rem;
    padding-top: 13px;
    padding-bottom: 24px; }
  .box-one .article .box-one-button {
    border-radius: 22px;
    text-align: center;
    height: 4.5rem;
    width: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px var(--orange); }
    .box-one .article .box-one-button .button {
      color: var(--orange);
      padding-left: 10px;
      padding-right: 10px;
      text-decoration: none;
      text-align: center;
      font-size: 2rem; }

.container {
  display: grid;
  justify-content: center;
  text-align: center;
  height: 624px;
  background-color: var(--grey);
  gap: 10px;
  padding-left: 68px;
  padding-right: 68px; }
  .container .container-title {
    font-size: 1.8rem;
    font-weight: bold;
    padding-top: 29px;
    text-align: center; }
  .container .container-p {
    display: grid;
    grid-template-columns: span 2;
    grid-template-rows: span 2;
    font-size: 1.8rem;
    padding: 10px; }
  .container .container-button {
    border-radius: 22px;
    text-align: center;
    height: 4.5rem;
    width: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    margin-left: 23px; }
    .container .container-button .button {
      color: var(--white);
      padding-left: 10px;
      padding-right: 10px;
      text-decoration: none;
      text-align: center;
      font-size: 2rem; }

/*# sourceMappingURL=main.css.map */
