/* This is the button to go up */

.go-up {
    position: relative;
    bottom: 3rem;
    left: 45%;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    z-index: 10;
}

.up {
    background-color: var(--white);
    width: 45px;
    height:45px;
    margin: 5px;
    padding: 10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;   
}

@media all and (min-width: 768px) {
    .go-up {
         margin-left: 30px;
    }
}
 @media all and (min-width: 1200px) {

 }

/* This is the footer, has been used flex */

.footer {
    height: 465px;
    background-color: var(--greyish-brown);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-direction: column;
    padding-left: 109px;
    padding-right: 109px;
    padding-top: 65px;
    padding-bottom: 36px;
    font-family: var(--font-p);
  
        .footer-menu-one {
            color: var(--white);
            list-style: none;
            font-size: 1.6rem;
            text-align: center;
            height: 120px;
            .menu-one {
                color: var(--white);
                text-decoration: none;
            }
        }
        .footer-menu-two {
            color: var(--white);
            list-style: none;
            font-size: 1.6rem;
            text-align: center;
            height: 60px;
            .menu-two {
                    color: var(--white);
                    text-decoration: none;
                }
        }

       .footer-end {
            color: var(--white);
            list-style: none;
            font-size: 1.4rem;
            text-align: center;    
        }  
}

 @media all and (min-width: 768px) {
    .footer {
        display: flex;
        flex-direction: row-reverse;
    }
 }

 @media all and (min-width: 1200px) {
    
 }
