.hero {
    background-image: url('../images/cover.jpeg');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 528.8px;
    background-size: contain;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-title {
    font-size: 2.5rem;
    text-align: center;
    
}
.hero-title-two {
    font-size: 1rem;
    text-align: center;
}


.box-one {
    height: 376px;
    margin-top: 34px;
    margin-left: 20px; 
    padding: 34px 12px 2px 13px;
    background-color: var(--white);
    align-items: flex-start;

    .small {
            color: var(--orange);
            font-size: 1.4rem;
        }
    .article {
         .article-title {
            font-size: 2.4rem;
            font-weight: bold;
            padding-top: 13px;
         }
         .article-p {
            font-size: 1.8rem;
            padding-top: 13px;
            padding-bottom: 24px;
         }
        .box-one-button {
             border-radius: 22px;
             text-align: center;
             height: 4.5rem;
             width: 16rem;
             display: flex;
             justify-content: center;
             align-items: center;
             border: solid 2px var(--orange);
            
           
            .button {
                    color: var(--orange);
                    padding-left: 10px;
                    padding-right: 10px;
                    text-decoration: none;
                    text-align: center;
                    font-size: 2rem;     
            }   
        }
    }      
}

.container {
        display: grid;
        justify-content: center;
        text-align: center;
        height: 624px;
        background-color: var(--grey);
        gap: 10px;
        padding-left: 68px;
        padding-right: 68px;
        .container-title { 
            font-size: 1.8rem;
            font-weight: bold;
            padding-top: 29px;
            text-align: center;
        }
       
        .container-p {
            display: grid;
            grid-template-columns: span 2;
            grid-template-rows: span 2;
            font-size: 1.8rem;
            padding: 10px;
           }
        .container-button  {
                border-radius: 22px;
                text-align: center;
                height: 4.5rem;
                width: 18rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--orange);
               margin-left: 23px;
               .button {
                    color: var(--white);
                    padding-left: 10px;
                    padding-right: 10px;
                    text-decoration: none;
                    text-align: center;
                    font-size: 2rem;

               }
        } 
    
}
 